.dogs-container {
    width: 50%;
    margin: 10px auto;
  }
  h3 {
    width: 100px;
    margin: 30px auto;
    text-align: center;
  }
  .dog {
    border-top: solid #00acee;
    margin-top: 10px;
    padding-top: 20px;
    display: flex;
  }
  .main-box {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
  }
  .time {
    display: flex;
    justify-content: flex-end;
  }

.spring{
  background-color:#F1F0E9;
  display: flex;

}
.yoga{
  width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 47% 17% / 20% 77%;
  text-align: center;
  
  
}

.summer{
  width: 50%;
  text-align:center;
  margin: 30px;

}

.sun{
  width: 60%;
  text-align:center;
}

.sun{
  height: auto;
  transition: transform .6s ease;
}

.sun img:hover{
  transform:scale(1.2,1.2);
}



.slider {
  width: 100%;
　　height: 300px;
　　overflow: hidden;
　　margin: 0 auto;

}
.slider-item {
  width: 25%;
  float: left;
}
img{
  width:100%;
}
.slider-inner {
  width: 400%;
  animation: slider 10s infinite ease;
}

@keyframes slider {
	0% {
	transform: translateX(0);
	}
	25% {
	transform: translateX(-300px);
	}
	50% {
	transform: translateX(-600px);
	}
	75% {
	transform: translateX(-900px);
	}
  100% {
    transform: translateX(0);
  }
}

.tea{
  background-color: #77827C;
  height: 800px;
}

.slide {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}
 

@keyframes slideshow {
  0%{
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  28%{
    opacity: 1
  }
  38%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

.slide img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  opacity: 0;
  animation :slideshow 24s linear infinite;
}

.slide img:nth-child(2){
  animation-delay: 8s;
}
 
.slide img:last-child{
  animation-delay: 16s;
}

.cloud{
  background-color: #F5F5F5;
  margin-top: 10px;
  
}


.fish{
  background-color: #D7CBBD;
  width: 45%;
  height: 25px;
  margin: 10px 10px 10px 10px;
  border: 1px solid #afadad;
  border-radius: 10px;
  padding: 10px; 
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;

}

.fish:hover{
  transform:scale(1.1,1.1);
}

.pig{
  display: flex;
  margin:0 auto;
  
}

.cat{
  text-align: center;
  margin-top: 15px;
}

.suger{
  text-align: right;
}

.dogs-container{
  background-color: #F1F0E9;
  width: 100%;
}

.start{
  background-color: #D7CBBD;
  width: 60%;
  border: 1px solid #afadad;
  border-radius: 10px;
  padding: 5px; 
  text-align: center;
  margin: 0 auto;
 

}

.start:hover{
  transform:scale(1.1,1.1);
}

  

.note{
  background-color: #F5F5F5;
  margin-top: 10px;
  
}

.grass{
  background-color: #F1F0E9;
  width: 100%;
  margin-top: 10px;

}

.finish{
  background-color: #77827C;
  margin-top: 5%;
}

.word{
  writing-mode: vertical-rl;
  margin: 0 auto;
  list-style: none;
  padding-top: 5%;


}

.word li{
  text-decoration: none;
  list-style: none;
}




.water{
  text-align: center;
}

.box{
 background-image: url(はじまり.jpg);
 height: 500px;
 text-align: center;
 padding: 20px;
}


.salt{
  background-color:#F1F0E9;
  margin-bottom: 5%;
  margin-top: 5%;
}

.moon{
  font-family: “Mplus 1p”;

}